<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомление об отклике на пост</title>
</head>
<body>
    <p>Здравствуйте!</p>
    <hr>
    <p>Ваш отклик приняли, теперь Вы подписаны на категорию {{cat}}</p>
    <p>Краткое содержание отклика.</p>
    <p>{{preview}}</p>
    <p>Ссылка на отклик {{link}}</p>
    <hr>
    <p>Спасибо за участие!</p>
</body>
</html>